@charset "UTF-8";
@import "mixin";
@import "font";

/* Reset Asll Element */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, hr,
dl, dt, dd, ol, ul, li,
form, fieldset, legend, label, button, input, select, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
main, menu, nav, footer, header, hgroup, section, summary,
time, mark, audio, video, meter, progress {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: inherit;
    font-family: inherit;
    vertical-align: initial;
    background: transparent;
    box-sizing: border-box;
}

em, address, i {
    font-style: normal;
}

a {
    -webkit-tap-highlight-color: transparent;
    color: var(--f-base);
    text-decoration: none;
}

img {
    vertical-align: top;
}

/* Form */
legend {
    @include hidden;
}

select.select-box, input[type=text].input-text, input[type=checkbox].input-chk, input[type=radio].input-rd, label, button {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

select.select-box, input[type=text].input-text, input[type=checkbox].input-chk, input[type=radio].input-rd, textarea.textarea-box{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

select.select-box:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 var(--f-base);
}

select.select-box::-ms-expand {
    display: none;
}

select.select-box, input[type=text].input-text, input[type=checkbox].input-chk, input[type=radio].input-rd, textarea.textarea-box{
    line-height: inherit;
}

select.select-box::-moz-placeholder, input[type=text].input-text::-moz-placeholder, input[type=checkbox].input-chk::-moz-placeholder, input[type=radio].input-rd::-moz-placeholder, textarea.textarea-box::-moz-placeholder{
    color: var(--f-menu);
    letter-spacing: -0.05rem;
    font-size: rem(14);
}

select.select-box::placeholder, input[type=text].input-text::placeholder, input[type=checkbox].input-chk::placeholder, input[type=radio].input-rd::placeholder, textarea.textarea-box::placeholder{
    color: var(--f-menu);
    letter-spacing: -0.05rem;
    font-size: rem(14);
}

.icon, .btn, [class^=i-], [class^=menu-], .search-box button, .box.-work button, .chat-text button, .btn-close, .updownBtn, .attachment{
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: inherit;
    letter-spacing: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

caption{
    @include hidden;
}

.mb40{margin-bottom: rem(40);}
.mb32{margin-bottom: rem(32);}

ul,ol,li{
    list-style: none;
}

:focus {
    outline: none;
}

/* Root */
:root {
    font-size: 0.625rem;
    word-break: keep-all;
    word-wrap: break-word;
}

:root{
    --f-base: #000;
    --f-secondary: #606060;
    --f-primary: #19A619;
    --f-flase: #EF503A;
    --f-true: #2E55B7; 
    --f-menu: #8C9094;
    --f-white: #fff;

    --bg-base: #F7F8F9;
    --bg-secondary: #7D848E;
    --bg-third: #FAFAFA;
    --bg-primary: #19A619;
    --bg-primary2: #E5F5E5;
    --bg-primary3: #E8F6E8;
    --bg-false: #FEF0ED;
    --bg-menu: #F2F6FC;

    --line-base: #DFE3E6;
    --line-secondary: #EAEAEA;
    --line-table: #606060;
    --line-table2: #D2D6DA;
    --line-table3: #ECEFF2;
    --line-false: #FAC3BB;
    --line-true: #B6C3E3;
}