<!-- <header> -->
    <h1 class="logo"><a href="">DBInc</a></h1>
    <div class="uniq">
        <div class="h-search">
            <select name="" id="">
                <option value="">부서선택</option>
            </select>
            <input type="text" placeholder="직원 검색">
        </div>
        <div class="login-time">
            <p>8:30</p>
            <button type="button" class="btn -line -sm">연장</button>
        </div>
        <ul class="control">
            <li class="mypage"><a href="">로그아웃</a></li>
            <li class="setting"><a href="">설정</a></li>
            <li class="tooltip"><a href="">?</a></li>
            <li class="profile"><a href="">이미지</a></li>
        </ul>
    </div>
<!-- </header> -->


