<!-- nav -->
<ul class="gnb">
    <li class="home"><a href="">홈</a></li>
    <li class="favorite"><a href="">즐겨찾기</a></li>
    <li class="mail"><a href="">메일</a></li>
    <li class="nboard"><a href="">게시판</a></li>
    <li class="epayment on"><a href="">전자결재</a></li>
    <li class="reservation"><a href="">예약</a></li>
    <li class="drive"><a href="">드라이브</a></li>
    <li class="management"><a href="">출퇴근<br>관리</a></li>
    <li class="hr"><a href="">HR</a></li>
</ul>

<div class="sub-gnb">
    <!-- 게시판 -->
    <ul>
        <li><a href="">통합</a></li>
        <li><a href="">공지사항</a></li>
        <li><a href="">부서함</a></li>
        <li><a href="">자유게시판</a></li>
        <li><a href="">건의/개선</a></li>
        <li><a href="">협력사게시판</a></li>
        <li><a href="">임시저장</a></li>
    </ul>
    
    <!-- 전자결재 -->
    <ul class="on">
        <li class="on"><a href="">기안문서</a>
            <ul>
                <li><a href="">기안문서1</a></li>
            </ul>
        </li>
        <li><a href="">결재문서</a></li>
        <li><a href="">전자결재</a>
            <ul>
                <li><a href="">미결함</a></li>
                <li><a href="">예결함</a></li>
                <li><a href="">진행함</a></li>
                <li><a href="">완결함</a></li>
                <li><a href="">통보함</a></li>
            </ul>
        </li>
        <li><a href="">별표문서함</a></li>
        <li><a href="">부서함</a></li>
        <li><a href="">문서검색</a></li>
        <li><a href="">개인설정</a>
            <ul>
                <li><a href="">메뉴1</a></li>
                <li><a href="">메뉴2</a></li>
            </ul>
        </li>
        <li><a href="">적재데이터조회</a></li>
        <li><a href="">관리자</a></li>
    </ul>

    <!-- 출퇴근 -->
    <ul>
        <li><a href="">내 근태 현황</a></li>
        <li><a href="">전사 근태현황</a></li>
        <li><a href="">내 근태사항관리</a></li>
        <li><a href="">전사 근태사항관리</a></li>
        <li><a href="">기본설정</a></li>
        <li><a href="">근태사항 코드관리</a></li>
        <li><a href="">근무일정관리</a></li>
        <li><a href="">근무유형별 대상자관리</a></li>
        <li><a href="">통계 데이터 재생성</a></li>
    </ul>

    <!-- HR -->
    <ul>
        <li><a href="">나의현황</a></li>
        <li><a href="">인사</a></li>
        <li><a href="">근태</a></li>
        <li><a href="">증명서</a></li>
        <li><a href="">인사관리</a></li>
        <li><a href="">근태관리</a></li>
        <li><a href="">기준관리</a></li>
        <li><a href="">배치관리</a></li>
    </ul>
</div>