<!-- header -->
<h1 class="logo"><a href="">DBInc</a></h1>
<div class="uniq">
    <div class="h-search">
        <select name="" id="">
            <option value="">부서선택</option>
        </select>
        <input type="text" placeholder="직원 검색">
    </div>
    <div class="login-time">
        <p>8:30</p>
        <button type="button" class="btn -line -sm">연장</button>
    </div>
    <ul class="control">
        <li class="mypage"><a href="">업무시스템운영자</a></li>
        <li class="setting"><a href="">관리자</a></li>
        <li class="tooltip"><a href="">사용자 매뉴얼</a></li>
        <li class="profile"><a href="">사용자 정보</a>
            <div class="profile-wrap">
                <p class="profile-img">
                    <img src="image/img_tmp.png" alt="">
                    <button type="button">수정</button>
                </p>
                <div class="profile-info">
                    <strong>김디비<em>님</em></strong>
                    <p class="team">파도<em>개발2팀</em></p>
                    <p class="contact">
                        usern3@pado.co.kr<br>
                        010-1234-5678
                    </p>
                </div>
                <div class="btn-wrap">
                    <button type="button" class="btn -third">로그아웃</button>
                    <button type="button" class="btn -primary">계정전환</button>
                </div>
            </div>
        </li>
    </ul>
</div>