<!-- nav -->
<ul class="gnb">
    <li class="home"><a href="">홈</a></li>
    <li class="favorite"><a href="">즐겨찾기</a></li>
    <li class="mail"><a href="">메일</a></li>
    <li class="nboard"><a href="">게시판</a></li>
    <li class="epayment on"><a href="">전자결재</a></li>
    <li class="reservation"><a href="">예약</a></li>
    <li class="drive"><a href="">드라이브</a></li>
    <li class="management"><a href="">출퇴근<br>관리</a></li>
    <li class="hr"><a href="">HR</a></li>
    <li class="laboratory"><a href="">실험실</a>
        
        <div class="laboratory-wrap">
            <div class="circle" data-rotate="0">
                <div class="circle-content">
                    <ul>
                        <li class="business"><a href="">영업관리</a></li>
                        <li class="work"><a href="">업무관리</a></li>
                        <li class="dbnews"><a href="">DB Daily<br>News</a></li>
                        <li class="cloudhp"><a href="">클라우드<br>오피스</a></li>
                        <li class="smartoff"><a href="">스마트<br>오피스</a></li>
                        <!-- <li class="bizplay"><a href="">BizPlay</a></li>
                        <li class="shr"><a href="">SHR</a></li>
                        <li class="book"><a href="">사규집</a></li> -->
                    </ul>
                </div>
            </div>
            <button type="button" >실험실닫기</button>
        </div>
    </li>
</ul>

<div class="sub-gnb">
    <!-- 게시판 -->
    <ul>
        <li><a href="">통합</a>
            <ul>
                <li><a href="">메뉴1</a></li>
            </ul>
        </li>
        <li><a href="">공지사항</a></li>
        <li><a href="">부서함</a></li>
        <li><a href="">자유게시판</a></li>
        <li><a href="">건의/개선</a></li>
        <li><a href="">협력사게시판</a></li>
        <li><a href="">임시저장</a></li>
    </ul>
    
    <!-- 전자결재 -->
    <ul class="on">
        <li class="on"><a href="">기안문서</a><button type="button" class="sidem-refresh">새로고침</button>
            <ul>
                <li><a href="">문서작성</a></li>
                <li class="on"><a href="">임시보관함 <em>51</em></a></li>
                <li><a href="">상신함</a></li>
                <li><a href="">상신취소함</a></li>
                <li><a href="">반려함</a></li>
            </ul>
        </li>
        <li><a href="">결재문서</a><button type="button" class="sidem-refresh">새로고침</button>
            <ul>
                <li><a href="">미결함 <em>51</em></a></li>
                <li><a href="">예결함 <em>2</em></a></li>
                <li><a href="">진행함 <em>551</em></a></li>
                <li><a href="">완결함 <em>1</em></a></li>
                <li><a href="">통보함 <em>10</em></a></li>
            </ul>
        </li>
        <li><a href="">별표문서함</a>
            <ul>
                <li><a href="">메뉴1</a></li>
            </ul>
        </li>
        <li><a href="">부서함</a><button type="button" class="sidem-refresh">새로고침</button>
            <ul>
                <li><a href="">메뉴1</a></li>
            </ul>
        </li>
        <li><a href="">문서검색</a>
            <ul>
                <li><a href="">메뉴1</a></li>
            </ul>
        </li>
        <li><a href="">개인설정</a>
            <ul>
                <li><a href="">메뉴1</a></li>
                <li><a href="">메뉴2</a></li>
            </ul>
        </li>
        <li><a href="">적재데이터조회</a>
            <ul>
                <li><a href="">메뉴1</a></li>
            </ul>
        </li>
        <li><a href="">관리자</a>
            <ul>
                <li><a href="">메뉴1</a></li>
            </ul>
        </li>
    </ul>

    <!-- 출퇴근 -->
    <ul>
        <li><a href="">내 근태 현황</a></li>
        <li><a href="">전사 근태현황</a></li>
        <li><a href="">내 근태사항관리</a></li>
        <li><a href="">전사 근태사항관리</a></li>
        <li><a href="">기본설정</a></li>
        <li><a href="">근태사항 코드관리</a></li>
        <li><a href="">근무일정관리</a></li>
        <li><a href="">근무유형별 대상자관리</a></li>
        <li><a href="">통계 데이터 재생성</a></li>
    </ul>

    <!-- HR -->
    <ul>
        <li><a href="">나의현황</a></li>
        <li><a href="">인사</a></li>
        <li><a href="">근태</a></li>
        <li><a href="">증명서</a></li>
        <li><a href="">인사관리</a></li>
        <li><a href="">근태관리</a></li>
        <li><a href="">기준관리</a></li>
        <li><a href="">배치관리</a></li>
    </ul>
</div>

<button type="button" class="side-btn">열기</button>