@charset "UTF-8";
@import "mixin";

// 서브 공통 타이틀
.tit-h2{
    @include font(rem(34), 700);

    .refresh{
        @include bg('refresh');
        @include fontHidden;
        width: rem(32);
        height: rem(32);
        margin: rem(-3) 0 0 rem(12);
        vertical-align: middle;
    }
}

//공통 버튼
.btn{
    @include rounded(rem(8));
    @include font(rem(14), 600);
    height: rem(40);
    padding: 0 rem(16);

    &.-primary{
        background-color: var(--bg-primary);
        color: var(--f-white);
    }

    &.-false{
        background-color: var(--bg-false);
        color: var(--f-flase);
    }

    &.-line{
        border: rem(1) solid var(--line-base);
        padding: 0 rem(16);

        &.false{
            color: var(--f-flase);
        }
    }

    &.-underline{
        height: auto;
        text-decoration: underline;
    }

    &.-white{
        background-color: var(--f-white);
        color: #00854A;
        font-weight: 800;
    }

    &.-sm{
        height: rem(32);
    }

    &.-la{
        height: rem(48);
    }

    &.-ing{
        border: rem(1) solid #FAC3BB;
        color: #EF503A;
    }

    &.-complete{
        border: rem(1) solid #B6C3E3;
        color: #2E55B7;
    }
}

[class^=i-]{
    @include rounded(rem(8));
    @include font(rem(18), 600);
    @include flex(flex, center, center);
    height: rem(48);
    color: var(--f-white);
}
.i-edit{ //기안서올리기, 글쓰기
    background-color: var(--bg-primary);
    padding: 0 rem(22);

    &::before{
        @include icon(24, 'edit', 'pseudo');
        margin-right: rem(4);
    }
}
.i-calendar{ //신청
    background-color: var(--bg-primary);
    width: rem(120);
    &::before{
        @include icon(24, 'calendar', 'pseudo');
        margin-right: rem(4);
    }
}
.i-save{ //저장
    background-color: var(--bg-primary);
    width: rem(120);
    &::before{
        @include icon(24, 'save', 'pseudo');
        margin-right: rem(4);
    }
}
.i-search{ //조회하기
    background-color: var(--bg-secondary);
    width: rem(103);
    height: rem(40);
    &::before{
        @include icon(20, 'search', 'pseudo');
        margin: rem(1) rem(4) 0 0;
    }
}
.i-searchB{ //우편번호 검색
    @include font(rem(14), 600);
    border: rem(1) solid var(--line-base);
    color: var(--f-base); 
    width: rem(132);
    height: rem(40);
    &::before{
        @include icon(20, 'search_b', 'pseudo');
        margin: 0 rem(4) 0 0;
    }
}
.i-reservation{ //예약하기
    background-color: var(--bg-primary);
    width: rem(120);
    &::before{
        @include icon(24, 'reservationW', 'pseudo');
        margin-right: rem(4);
    }
}
.i-list{ //목록
    color: var(--f-base);
    border: rem(1) solid var(--line-base);
    width: rem(120);
    &::before{
        @include icon(24, 'list', 'pseudo');
        margin-right: rem(4);
    }
}

.pay{
    @include font(rem(13), 400);
    @include rounded(rem(14));
    height: rem(26);
    padding: 0 rem(10);

    &.-ing{
        border:rem(1) solid var(--line-false);
        color: var(--f-flase);
    }
    &.-complete{
        border:rem(1) solid var(--line-true);
        color: var(--f-true);
    }   
}

.flag{
    @include font(rem(12), 400);
    @include rounded(rem(14));
    display: block;
    margin: 0 auto;
    width: rem(68);
    height: rem(20);
    line-height: rem(20);
    text-align: center;

    &.-board{
        border:rem(1) solid #B6E3D0;
        color: #0DA161;
    }
    &.-notice{
        border:rem(1) solid #B4DFF7;
        color: #0696E5;
    }
    &.-board2{
        border:rem(1) solid #B6C3E3;
        color: #2E55B7;
    }
    &.-dx{
        background-color: var(--f-white);
        color: #0DA161;
    }
    &.-sm{
        width: rem(48);
        padding: 0;
        margin: 0;
    }
    &.-paym{
        border: rem(1) solid var(--f-white);
        color: var(--f-white);
    }
}

.attach{
    @include fontHidden;
    height: rem(20);

    &.-total{
        @include bg(attach, 0 0, rem(45) rem(20));
        width: rem(45);
    }
    &.-file{
        @include bg(attach2, 0 0, rem(21) rem(20));
        width: rem(21);;
    }
    &.-image{
        @include bg(attach1, 0 0, rem(21) rem(20));
        width: rem(21);
    }
    &.-doc{
        @include bg(edit, 0 0, rem(16) rem(16));
        width: rem(16);
        height: rem(16);
        vertical-align: middle;
        margin: rem(-4) 0 0 rem(6);
    }
}

.view{
    @include fontHidden;
    @include bg(view);
    width: rem(20);
    height: rem(20);
}

input[type=text]{
    @include rounded(rem(8)); 
    @include font(rem(14), 600);
    border: rem(1) solid var(--line-base);
    height: rem(40);
    padding: 0 rem(12);
    background-color: var(--f-white);

    &:read-only{
        background-color: var(--bg-base);
        color: var(--f-menu);
    }
}

.chk-wrap{
    &.-line{
        width: rem(231);
        label{
            &:last-child{
                display: inline-block;
                margin-top: rem(12);
            }
        }
    }

    label{
        &:not(:last-child){
            margin-right: rem(20) !important;
        }
    }
}

input[type=checkbox]:not(.chk-imprt){ // 테이블에 즐겨찾기빼고
    @include bg(chk_off);
    width: rem(24);
    height: rem(24);
    vertical-align: middle;
    margin-top: rem(-3);

    &:checked{
        @include bg(chk_on);
    }

    &+label{
        margin-left: rem(8);
    }
}

input[type=radio]{
    @include bg(radio_off);
    width: rem(24);
    height: rem(24);
    vertical-align: middle;
}
input[type=radio]:checked{
    @include bg-url(radio_on);
}

.input-calendar{
    position: relative;

    input[type=text]{
        padding-right: rem(40);
    }
    button{
        @include bg(calendar, 98% 50%, rem(24) rem(24));
        @include fontHidden;
        @include position(absolute, 50%, rem(12), null, null);
        transform: translateY(-50%);
        height: rem(24);
    }
}

.label{
    @include font(rem(16), 600);
}

select{
    @include rounded(rem(8));
    @include font(rem(16), 600);
    @include bg(select24, right rem(12) center, rem(24));
    border: rem(1) solid var(--line-base);
    height: rem(40);
    padding: 0 rem(30) 0 rem(12);
    background-color: var(--f-white);
    min-width: rem(143);
    color: var(--f-secondary);
}

.tooltip:not(header .tooltip){
    @include position(absolute, 50%, rem(24), null, null, 1);
    transform: translateY(-50%);

    &:hover{
        z-index: 2;

        div{
            display: block;
        }
    }

    button{
        @include fontHidden;
        @include bg(tooltip_b);
        width: rem(20);
        height: rem(20);
        cursor: auto;
    }
    
    div{
        @include position(absolute, 0, null, null, rem(-27));
        @include font(rem(14), 400);
        min-width: rem(320);
        display: none;
        background-color: transparent;

        &::after{
            content:'';
            border-right: 0 solid var(--bg-primary3);
            border-top: rem(15) solid var(--bg-primary3);
            border-left: rem(15) solid transparent;
            @include position(absolute, rem(24), null, null, rem(30));
            transform: rotate(-45deg);
        }

        p{
            @include rounded(rem(20));
            margin-top: rem(31);
            background-color: var(--bg-primary3);
            color: var(--f-secondary);
            padding: rem(18) rem(20) rem(16);
            line-height: 160%;
            word-break: break-all;
        }

        strong{
            font-weight: 600;
            color: var(--f-primary);
        }
    }
}

.loading-wrap{
    @include position(fixed, 0, null, null, 0, 100);
    @include flex(flex, center, center);
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);

    .loading-box{
        @include flex(flex, flex-start, center);
        @include rounded(rem(16));
        gap: 0 rem(24);
        background-color: var(--f-white);
        min-width: rem(360);
        padding: rem(32);

        em{
            @include fontHidden;
            width: rem(48);
            height: rem(48);
            border: rem(5) solid #E5E9EE;
            border-top: rem(5) solid #0DA161;
            border-radius: 50%;
            animation: rotate 1.5s linear infinite;
            position: relative;

            &::after{
                content:'';
                @include position-center;
                background-color: var(--f-white);
                width: rem(44);
                height: rem(44);
            }

            @keyframes rotate {
                from {
                transform: rotate(0deg);
                }
                to {
                transform: rotate(360deg);
                }
            }
        }

        strong{
            @include font(rem(18), 700);
            
            p{
                @include font(rem(13), 400);
                color: var(--f-secondary);
                margin-top: rem(4);
            }
        }
    }
}

.pop-wrap{
    @include position(fixed, 0, null, null, 0, 100);
    @include flex(flex, center, center);
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);

    .pop-box{
        @include rounded(rem(20));
        gap: 0 rem(24);
        background-color: var(--f-white);
        min-width: rem(480);
        overflow: hidden;

        .pop-top{
            @include position(sticky, 0, null, null, 0, 2);
            background-color: var(--f-white);
            padding: rem(24) rem(32) rem(8);

            strong{
                @include font(rem(22), 600);
            }
        }

        .pop-container{
            overflow-y: auto;
            max-height: rem(700);
            padding: rem(32) rem(32) rem(40);
        }

        .pop-btn{
            @include flex(flex, center, center);
            @include position(sticky, null, null, 0, 0, 2);
            border-top: rem(1) solid #DFE3E6;
            padding: rem(19) 0;
            gap: 0 rem(12);

            button{
                @include font(rem(18), 600);
                width: rem(120);
                height: rem(48);
            }
        }
    }
}