@charset "UTF-8";

.tree-wrap{
    width: rem(464);
    @include rounded(rem(20));
    border: rem(1) solid #DFE3E6;
    padding: rem(30) rem(24);

    .jstree-container-ul{
        a{
            @include font(rem(16), 600);
            color: var(--f-secondary);
            position: relative;
        }

        .ico-hr-def{ // hr>인원현황조회
            @include bg(dep3);
        }

        .ico-hr-dep1{ // hr>인원현황조회
            @include bg(dep1_on);
        }

        .ico-paym-def{ // 전자결재>문서작성
            @include bg(paym_def);
        }

        .ico-paym-dep1{ // 전자결재>문서작성
            @include bg(paym_dep1);
        }

        .jstree-node{
            margin-left:0;

            .jstree-ocl{
                width: rem(16);
                height: rem(16);
                vertical-align: middle;
                margin: rem(-3) rem(6) 0 0;
            }

            .jstree-themeicon{
                width: rem(16);
                height: rem(16);
                vertical-align: middle;
                margin: rem(-3) rem(4) 0 0;
            }

            .jstree-clicked{
                background-color: transparent;
                box-shadow: none;
            }

            &.jstree-open{
                &>a{
                    color: var(--f-base);
                }
            }
        }

        &>.jstree-node{
            position: relative;

            &::after{
                content:'';
                width: rem(1);
                height: calc(100% - rem(23));
                background-color: var(--line-table3);
                @include position(absolute, rem(23), null, null, rem(7));
            }

            &>.jstree-ocl{
                @include bg(dep1_down);
            }

            &.jstree-open{
                &>.jstree-ocl{
                    @include bg(dep1_up);
                }
            }
            
            &>.jstree-children{
                margin-top: rem(14);

                &:has(.jstree-closed, .jstree-open){
                    margin-left: rem(25);
                }

                &>li{

                    &:not(.jstree-leaf){

                        &>.jstree-ocl{
                            @include bg(dep2_down);
                        }

                        &.jstree-open>.jstree-ocl{
                            @include bg(dep2_up);
                        }
                    }
 
                    &:not(:last-child){
                        margin-bottom: rem(16);
                    }

                    // &>a{
                    //     &.jstree-clicked{
                    //         color: var(--f-base);
                    //     }
                    // }

                    &>.jstree-children{
                        margin-top: rem(10);
                        margin-left: rem(25);

                        li{
                            &:not(:last-child){
                                margin-bottom: rem(12);
                            }
                        }
                    }
                }
            }
        }
    }
}