@charset "UTF-8";
@import "mixin";

html, body{
    height: 100%;
    font-family: "Pretendard";

    &:has(.container .calendar-box){
        overflow-x: hidden;
    }
    
    &:has(.main){
        background-color: var(--bg-menu);
    }
}

.wrap{
    height: 100%;
    display: grid;
    grid-template-columns: rem(296) 1fr;
    grid-template-rows: rem(72) 1fr;
    min-width: rem(1200);

    &.main{
        grid-template-columns: rem(76) 1fr rem(92);

        header{
            .logo{
                a{
                    display: block;
                }
            }
        }

        nav{
            width: rem(76);

            .side-btn{
                display: none;
            }
        }

        .container{
            margin-bottom: 0;
        }

        footer{
            justify-content: flex-end;

            .f-logo{
                display: none;
            }
        }

        .sub-gnb{
            display: none;
        }
    }

    &.sidem-close{
        grid-template-columns: rem(76) 1fr rem(92);

        nav{
            width: auto;

            .sub-gnb{
                display: none;
            }

            .side-btn{
                @include position(absolute, null, rem(-32), rem(44), null);
                @include bg(sidemenu_open);
            }
        }
    }
}

header{
    grid-column: 2 / 4;
    @include flex(flex, space-between, center);
    padding: rem(32) rem(50) 0;

    .logo{

        a{
            @include bg(logo, 0 0, rem(89) rem(32));
            @include fontHidden;
            width: rem(89);
            height: rem(32);
            display: none;
        }
    }

    .uniq{
        @include flex(flex, space-between, center);
        gap: 0 40px;

        .h-search{
            @include flex(flex);

            input[type=text]{
                @include bg(search, 8px 50%, rem(16) rem(16), var(--line-table3));
                width: rem(160);
                border: 0;
                padding-left: rem(27);
                font-size: rem(13);
            }
            select{
                width: rem(120);
                margin-right: rem(8);
                font-size: rem(13);
                @include bg(select, 95% 50%, rem(20));
            }
        }

        .login-time{
            @include flex(flex, center, center);
            gap: 0 rem(8);

            p{
                @include font(rem(14), 600);
                color: var(--f-secondary);

                &::before{
                    @include icon(20, 'time', 'pseudo');
                    margin-right: rem(6);
                }
            }

            button{
                padding: 0 rem(13);
            }
        }
    }
    

    .control{
        @include flex(flex, space-between, center);
        gap: 0 8px;

        li{
            a{
                width: rem(32);
                height: rem(32);
            }
            &.mypage{
                a{
                    @include bg(mypage, 0 0, rem(32) rem(32));
                    @include fontHidden;
                }
            }
            &.setting{
                a{
                    @include bg(setting, 0 0, rem(32) rem(32));
                    @include fontHidden;
                }
            }
            &.tooltip{
                a{
                    @include bg(tooltip, 0 0, rem(32) rem(32));
                    @include fontHidden;
                }
            }
            &.profile{
                a{
                    @include bg(profile, 0 0, rem(32) rem(32));
                    @include fontHidden;
                }
            }
        }
    }
}

nav{
    grid-column: 1 / 1;
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: 76px 1fr;
    background-color: var(--f-white);
    @include position(fixed, 0, null, null, 0, 10);
    width: rem(296);
    height: 100%;

    .gnb{ // 1depth
        padding: rem(32) rem(6);
        border-right: rem(1) solid #E5EAEF;

        li{
            a{
                @include font(rem(14), 600);
                @include rounded(rem(12));
                color: var(--f-secondary);
                display: block;
                text-align: center;
                padding: rem(18) 0 rem(15);

                &::before{
                    display: block !important;
                    margin: 0 auto rem(6);
                }
            }

            &.home{
                a{
                    &::before{
                        @include icon(24, 'home', 'pseudo');
                    }
                }
            }
            &.favorite{
                a{
                    &::before{
                        @include icon(24, 'favorite', 'pseudo');
                    }
                }
            }
            &.mail{
                a{
                    &::before{
                        @include icon(24, 'mail', 'pseudo');
                    }
                }
            }
            &.nboard{
                a{
                    &::before{
                        @include icon(24, 'nboard', 'pseudo');
                    }
                }
            }
            &.epayment{
                a{
                    &::before{
                        @include icon(24, 'epayment', 'pseudo');
                    }
                }
            }
            &.reservation{
                a{
                    &::before{
                        @include icon(24, 'reservation', 'pseudo');
                    }
                }
            }
            &.drive{
                a{
                    &::before{
                        @include icon(24, 'drive', 'pseudo');
                    }
                }
            }
            &.management{
                a{
                    &::before{
                        @include icon(24, 'management', 'pseudo');
                    }
                }
            }
            &.hr{
                a{
                    &::before{
                        @include icon(24, 'hr', 'pseudo');
                    }
                }
            }

            //활성화
            &.on{
                a{
                    font-weight: 700;
                    color: var(--f-primary);
                    background-color: rgba(25, 166, 25, 0.1);
                }

                &.home{
                    a{
                        &::before{
                            @include icon(24, 'home_on', 'pseudo');
                        }
                    }
                }
                &.favorite{
                    a{
                        &::before{
                            @include icon(24, 'favorite_on', 'pseudo');
                        }
                    }
                }
                &.mail{
                    a{
                        &::before{
                            @include icon(24, 'mail_on', 'pseudo');
                        }
                    }
                }
                &.nboard{
                    a{
                        &::before{
                            @include icon(24, 'nboard_on', 'pseudo');
                        }
                    }
                }
                &.epayment{
                    a{
                        &::before{
                            @include icon(24, 'epayment_on', 'pseudo');
                        }
                    }
                }
                &.reservation{
                    a{
                        &::before{
                            @include icon(24, 'reservation_on', 'pseudo');
                        }
                    }
                }
                &.drive{
                    a{
                        &::before{
                            @include icon(24, 'drive_on', 'pseudo');
                        }
                    }
                }
                &.management{
                    a{
                        &::before{
                            @include icon(24, 'management_on', 'pseudo');
                        }
                    }
                }
                &.hr{
                    a{
                        &::before{
                            @include icon(24, 'hr_on', 'pseudo');
                        }
                    }
                }
            }

            
        }
    }

    .sub-gnb{
        background-color: var(--bg-menu);
        padding: rem(40) rem(20);
        border-right: rem(1) solid #E5EAEF;
        overflow-y: auto;

        >ul{ // 2depth
            display: none;

            &.on{
                display: block;
            }

            >li{
                &.on{
                    ul{
                        display: block;
                    }

                    >a{
                        color: var(--f-base);
                    }
                }

                >a{
                    @include font(rem(15), 600);
                    color: var(--f-menu);
                    display: block;
                    padding: rem(10) 0;
                    @include rounded(rem(6));
                }
                
                ul{ // 3depth
                    display: none;
                    
                    li{
                        a{
                            @include font(rem(14), 600);
                            color: var(--f-menu);
                            display: block;
                            padding: rem(7) rem(12);
                        }

                        &.on{
                            a{
                                @include rounded(rem(6));
                                background-color: #DDE6F6;
                                color: var(--f-base);
                            }
                        }
                    }
                }

                &:has(ul){
                    &.on{
                        >a{
                            @include bg('menu_close', 100% 50%, rem(20) rem(20));
                        }
                    }
                    >a{
                        @include bg('menu_open', 100% 50%, rem(20) rem(20));
                    }
                }

                // &:not(ul){
                //     &.on{
                //         >a{
                //             background-color: #DDE6F6;
                //             color: var(--f-base);
                //             padding: rem(10) rem(12);
                //         }
                //     }
                // }
            }
        }
    }

    .side-btn{
        @include position(absolute, null, 0, rem(44), null);
        @include bg(sidemenu_close);
        @include fontHidden;
        width: rem(32);
        height: rem(63);
    }
}

.container{
    grid-column: 2 / 4;
    margin: 0 rem(50) rem(28);
}

footer{
    grid-column: 2 / 4;
    @include flex(flex, space-between, center);
    @include font(rem(13), 400);
    padding: rem(32) rem(50) rem(28);

    .f-logo{
        @include bg(logo, 0 0, rem(89) rem(32));
        @include fontHidden;
        width: rem(89);
        height: rem(32);
        display: block
    }

    .f-uniq{
        @include flex(flex, space-between, center);
        
        p{
            color: #8C9094;
        }
        a{
            color: var(--f-secondary);
            padding: 0 rem(36);
        }
        select{
            @include font(rem(13), 400);
            height: rem(32);
            color: #8C9094;
        }
    }
}

.tit-box{
    @include flex(flex, space-between, center);
    padding: rem(32) 0 rem(24);

    &.-main{
        @include font(rem(24), 400);
        color: var(--f-secondary);
        padding: rem(18) 0 rem(12);

        strong{
            color: var(--f-base);
        }

        p{
            strong{
                font-size: rem(28);
            }
        }

        .weather{
            @include bg(weather, 0 0, rem(80) rem(60));
            padding-left: rem(80);

            strong{
                @include font(rem(20), 600);
            }

            p{
                @include font(rem(14), 400);
                color: var(--f-secondary);

                em{
                    &::before{
                        content: '';
                        width: rem(1);
                        height: rem(13);
                        background-color: #DEE2E8;
                        margin: rem(-2) rem(8) 0;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

.main-wrap{
    display: grid;
    grid-template-columns: 1fr rem(568) rem(400);
    gap: 0 rem(12);

    .line{
        display: grid;
        gap: rem(12);
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr rem(220);
        gap: 0 rem(12);
    }

    .btn-box{
        button{
            @include fontHidden;
            width: rem(24);
            height: rem(24);
        }
        .prev{
            @include bg(prev_main);
        }

        .next{
            @include bg(next_main);
            margin-left: rem(2);
        }
    }

    .operate-list{
        li:not(.cop){
            @include font(rem(14), 600);
            @include rounded(rem(12));
            padding: rem(17) rem(24);
            box-shadow: 0 rem(4) rem(8) 0 rgba(0,0,0,.04);

            &:not(:last-child){
                margin-bottom: rem(8);
            }

            &::before{
                margin: rem(-2) rem(12) 0 0 ;
            }

            &.news{
                &::before{
                    @include icon(24, 'news', 'pseudo');
                }
            }

            &.admin{
                &::before{
                    @include icon(24, 'admin', 'pseudo');
                }
            }
        }

        li.cop{
            padding:0;
            
            a{
                @include font(rem(14), 600);
                @include rounded(rem(12));
                padding: rem(17) rem(24);
                box-shadow: 0 rem(4) rem(8) 0 rgba(0,0,0,.04);
                display: block;

                &::before{
                    margin: rem(-2) rem(12) 0 0 ;
                    @include icon(24, 'cop', 'pseudo');
                }
            }
        }
    }

    .box{
        @include rounded(rem(20));
        padding: rem(24);

        .hgroup{
            @include flex(flex, space-between, center);
            margin-bottom: rem(16);
            
            strong{
                @include font(rem(18), 700);
            }

            button{
                @include fontHidden;
                vertical-align: middle;
            }
            .more{
                width: rem(24);
                height: rem(24);
                @include bg(moreview);
                margin-top: rem(-5);
            }

            .sub-tit{
                @include font(rem(13), 400);
                color: var(--f-menu);

                em{
                    color: var(--f-primary);
                    font-weight: 600;
                }
            }

            .refresh{
                width: rem(28);
                height: rem(28);
                @include bg(refresh_main, 0 0 , rem(28) rem(28));
            }
        }

        &.-w{
            background-color: var(--f-white);
        }

        &.-b{
            background-color: #3F74F8;

            .hgroup{
                .more{
                    @include bg(moreview_w);
                }

                strong{
                    color: var(--f-white);
                }
            }

            &.-flex{
                @include flex(flex, space-between, center);
            }
        }

        &.-g{
            background-color: #00854A;
        }

        &.-r{
            background-color: #CFF160
        }

        &.flex-down{
            @include flex(flex, space-between);
            flex-direction: column;
        }

        .scd-list{
            display: grid;
            grid-template-columns: rem(268) 1fr;

            .calendar-wrap{
                .calendar-title{
                    @include flex(flex, space-between, center);
                    
                    strong{
                        @include font(rem(16), 600);
                    }

                    p{
                        button{
                            @include fontHidden;
                            width: rem(24);
                            height: rem(24);
                        }
                        .prev{
                            @include bg(prev_main);
                        }

                        .next{
                            @include bg(next_main);
                            margin-left: rem(2);
                        }
                    }
                }

                table{
                    text-align: center;
                    width: 100%;
                    margin-top: rem(16);
                    border-spacing: 0;

                    th{
                        @include font(rem(13), 400);
                        color: var(--f-secondary);
                        padding-bottom: rem(10);
                    }

                    td{
                        @include font(rem(13), 600);
                        color: var(--f-base);
                        height: rem(26);
                        vertical-align: middle;
                        position: relative;

                        &.day-weekend{
                            color: var(--f-menu);
                        }

                        &::after{
                            content:'';
                            @include rounded(100%);
                            @include position(absolute, 50%, null, null, 50%);
                            transform: translate(-50%, -50%);
                            width: rem(26);
                            height: rem(26);
                            color: var(--f-base);
                            
                        }

                        &.bgType1::after{
                            background-color: rgba(184, 146, 255, 0.4);
                        }
                        &.bgType2::after{
                            background-color: rgba(63, 133, 255, 0.4);
                        }
                        &.bgType3::after{
                            background-color: rgba(117, 209, 112, 0.4);
                        }
                        &.bgType4::after{
                            background-color: rgba(255, 174, 137, 0.4);
                        }
                    }
                }
            }

            .tab-wrap{
                flex: 1;
            }
        }

        .calendar-list{
            border-left: rem(1) solid var(--line-table3);
            margin-left: rem(32);
            padding-left: rem(32);

            li{
                position: relative;
                padding-left: rem(82);

                &::before{
                    content:'';
                    width: rem(6);
                    height: rem(6);
                    @include rounded(100%);
                    @include position(absolute, rem(9), null, null, 0);
                }

                &.bgType1{
                    &::before{
                        background-color: #B892FF;
                    }
                }

                &.bgType2{
                    &::before{
                        background-color: #62ADFF;
                    }
                }

                &.bgType3{
                    &::before{
                        background-color: #75D170;
                    }
                }

                &.bgType4{
                    &::before{
                        background-color: #FFAE89;
                    }
                }

                a{
                    @include font(rem(14), 600);
                    display: block;
                    line-height: rem(24);

                    em{
                        color: var(--f-secondary);
                        min-width: rem(60);
                        display: inline-block;
                        @include position(absolute, 0, null, null, rem(14));
                    }
                }

                &:not(:last-child){
                    margin-bottom: rem(18);
                }
            }
        }

        .payment-list{
            @include flex(flex, center, center);

            li{
                position: relative;
                a{
                    @include font(rem(16), 400);
                    color: var(--f-white);

                    strong{
                        @include font(rem(28), 700);
                        display: block;
                        text-align: center;
                    }
                }

                &:last-child{
                    padding-left: rem(48);

                    &::before{
                        content:'';
                        width: rem(1);
                        height: rem(48);
                        background-color: #5F8DFF; 
                        @include position(absolute, rem(9), null, null, rem(24));
                    }
                }
            }
        }

        .dx-list{
            counter-reset: number;
            margin-bottom: rem(20);

            li{
                a{
                    @include rounded(rem(12));
                    @include flex(flex, space-between, center);
                    background-color: #EDF4F4;
                    padding: rem(12) rem(16);

                    strong{
                        @include font(rem(14), 600);

                        &::before{
                            content: counter(number) " .";
                            counter-increment: number;
                            @include font(rem(14), 600);
                            padding-right: rem(8);
                        }
                    }
                }

                &:not(:last-child){
                    margin-bottom: rem(8);
                }
            }
        }

        .dx-list2{
            li{
                a{
                    padding: rem(12) 0 0;
                    display: grid;
                    grid-template-columns: 3fr 1fr;

                    strong{
                        @include font(rem(14), 600);
                        grid-column: 1 / 1;
                    }

                    em{
                        @include font(rem(14), 400);
                        color: var(--f-menu);
                        text-align: right;
                        grid-column: 2 / 2;
                    }

                    p{
                        margin-top: rem(4);
                        @include font(rem(14), 400);
                        grid-column: 1 / 3;
                    }
                }

                &:not(:last-child){
                    border-bottom: rem(1) solid var(--line-table3);
                    padding-bottom: rem(12);
                }
            }
        }

        .drive-list{
            @include font(rem(16), 600);
            color: #798160;
            text-align: right;

            strong{
                @include font(rem(28), 700);
                color: var(--f-base);
                display: block;
            }
        }

        .attendance-list{
            display: grid;
            grid-template-columns: 1fr rem(120);
            align-items: center;

            p{
                @include font(rem(14), 400);
                color: var(--f-white);

                strong{
                    @include font(rem(18), 700);
                    margin-top: rem(8);
                    display: block;

                    em{
                        @include font(rem(14), 400);
                        margin-right: rem(8);
                        display: none;
                    }
                }
            }
        }

        .my-list{
            margin-top: rem(27);
            @include flex(flex, space-between, center);
            @include font(rem(13), 400);
            color: var(--f-menu);

            li{
                flex: 1;
                position: relative;
                padding-left: rem(13);

                &::before{
                    content: '';
                    width: rem(3);
                    height: rem(64);
                    @include rounded(rem(3));
                    @include position(absolute, 50%, null, null, 0);
                    transform: translateY(-50%);
                }

                strong{
                    @include font(rem(14), 600);
                    color: var(--f-base);
                    margin-bottom: rem(6);
                    display: block;
                    min-height: rem(44);
                }

                

                &:nth-child(1){
                    &::before{
                        background-color: #D5AAFF;
                    }
                }
                &:nth-child(2){
                    &::before{
                        background-color: #FDBC73;
                    }
                }
                &:nth-child(3){
                    &::before{
                        background-color: #8AB5F7;
                    }
                }
                &:nth-child(4){
                    &::before{
                        background-color: #FF85C4;
                    }
                }
                &:nth-child(5){
                    &::before{
                        background-color: #87E76F;
                    }
                }
            }
        }

        .system-list{
            @include flex(flex, space-between, center);
            flex-wrap: wrap;
            gap: rem(12) 0;

            li{
                width: 33.33%;
                height: rem(84);
                text-align: center;

                a{
                    @include font(rem(13), 400);
                    color: var(--f-secondary);
                    display: block;

                    &::before{
                        content:'';
                        display: block !important;
                        margin: 0 auto rem(8);
                    }
                }

                &.business{
                    a{
                        &::before{
                            @include icon(40, 'business', 'pseudo');
                        }
                    }
                }
                &.work{
                    a{
                        &::before{
                            @include icon(40, 'work', 'pseudo');
                        }
                    }
                }
                &.bizplay{
                    a{
                        &::before{
                            @include icon(40, 'bizplay', 'pseudo');
                        }
                    }
                }
                &.dbnews{
                    a{
                        &::before{
                            @include icon(40, 'dbnews', 'pseudo');
                        }
                    }
                }
                &.cloudhp{
                    a{
                        &::before{
                            @include icon(40, 'cloudhp', 'pseudo');
                        }
                    }
                }
                &.smartoff{
                    a{
                        &::before{
                            @include icon(40, 'smartoff', 'pseudo');
                        }
                    }
                }
                &.shr{
                    a{
                        &::before{
                            @include icon(40, 'shr', 'pseudo');
                        }
                    }
                }
                &.book{
                    a{
                        &::before{
                            @include icon(40, 'book', 'pseudo');
                        }
                    }
                }
                &.securityservice{
                    a{
                        &::before{
                            @include icon(40, 'securityservice', 'pseudo');
                        }
                    }
                }
            }
        }
    }
}

.search-box{
    @include rounded(rem(20));
    @include flex(flex, space-between, flex-start);
    position: relative;
    background-color: var(--bg-third);
    border: rem(1) solid var(--line-secondary);
    padding: rem(28) rem(60);
    margin-bottom: rem(40);
    gap: 0 rem(60);

    .search-close{
        @include position(absolute, null, null, rem(-35), 50%);
        @include font(rem(16), 600);
        background-color: var(--bg-third);
        border: rem(1) solid var(--line-secondary);
        border-top: 0;
        border-bottom-left-radius: rem(12);
        border-bottom-right-radius: rem(12);
        width: rem(100);
        height: rem(35);
        margin-left: rem(-50);

        &::after{
            @include icon(16, 'down', 'pseudo');
            margin-left: rem(5);
        }

        &.n{
            &::after{
                @include icon(16, 'up', 'pseudo');
            }
        }
    }

    table{
        flex: 1;

        tr{
            &~tr{
                td{
                    padding-top: rem(10);
                }
            }

            &.hidden{
                display: none;
            }
        }

        th{
            @include font(rem(16), 600);
            text-align: left;
            padding-right: rem(30);
            padding-left: rem(60);

            &:first-child{
                padding-left: 0;
            }
        }
    }

    select, input[type=text]{
        width: 100%;
    }
}

.hgroup:not(.-main){
    @include flex(grid);
    grid-template-columns: 1fr 1fr;
    margin-bottom: rem(16);
    align-items: end;

    strong{
        @include font(rem(22), 600);
    }

    p{
        @include font(rem(16), 400);
        color: var(--f-secondary);
        grid-column: 1 / 3;

        em{
            color: var(--f-primary);
            font-weight: 600;
        }
    }
    .sort{
        grid-column: 3 / 3;

        button{
            margin-left: rem(12);
        }
    }

    select{
        @include bg(select, 95% 50%, rem(20));
    }
}

// 탭
.tab-wrap{
    .panels{
        margin-top: rem(24);

        .date{
            @include font(rem(28), 700);
            @include position(absolute, 0, null, null, 50%);
            @include flex(flex, center, center);
            transform: translateX(-50%);

            &:has(button){
                span{
                    @include bg(datepicker , 100% 50%, rem(33) rem(30));
                    padding-right: rem(45);
                    margin: 0 rem(24);
                    cursor: pointer;
                }
            }

            button{
                @include fontHidden;
                width: rem(32);
                height: rem(32);
                &.prev{
                    @include bg(date_prev, 0 0, rem(32) rem(32));
                }
                &.next{
                    @include bg(date_next, 0 0, rem(32) rem(32));
                }
            }
        }
        
        >div{
            display: none;

            &.on{
                display: block;
            }
        }
    }

    &.-box{
        position: relative;

        .tablist{
            @include flex(flex, flex-start, center);
            @include rounded(rem(8));
            background-color: #ECEFF2;
            padding: rem(4);

            &.-sm{
                width: rem(315);
                gap: 0 rem(4);
            }
            
            li{
                a{
                    @include font(rem(16), 600);
                    @include rounded(rem(6));
                    color: var(--f-secondary);
                    display: inline-block;
                    padding: rem(9) rem(36);
                }

                &.on{
                    a{
                        color: var(--f-base);
                        background-color: var(--f-white);
                    }
                }
            }
        }
    }

    &.-box2{
        position: relative;

        .tablist{
            @include flex(flex, center, center);
            @include position(absolute, rem(-48), rem(24), null, null);

            li{
                a{
                    @include font(rem(14), 400);
                    color: var(--f-menu);
                    height: rem(26);
                    line-height: rem(26);
                    display: block;
                    border: rem(1) solid #E7E8EB;
                    padding: 0 rem(8);
                }

                &:first-child{
                    a{
                        border-top-left-radius: rem(6);
                        border-bottom-left-radius: rem(6);
                        border-right: 0;
                    }
                }

                &:last-child{
                    a{
                        border-top-right-radius: rem(6);
                        border-bottom-right-radius: rem(6);
                        border-left: 0;
                    }
                    
                }

                &.on{
                    a{
                        background-color: var(--bg-primary);
                        color: var(--f-white);
                        border-color: var(--bg-primary);
                        font-weight: 600;
                    }
                }
            }
        }
    }

    &.-box3{
        .tablist{
            @include flex(flex, flex-start, center);
            gap: 0 rem(8);
            
            li{
                a{
                    @include font(rem(14), 600);
                    @include rounded(rem(24));
                    color: var(--f-secondary);
                    border: rem(1) solid #DADEE7;
                    padding: 0 rem(16);
                    height: rem(32);
                    line-height: rem(32);
                    display: inline-block;
                }

                &.on{
                    a{
                        background-color: var(--bg-primary);
                        border: 0;
                        color: var(--f-white);
                    }
                }
            }
        }
        
        .panels{
            .notice-list{
                li{
                    a{
                        @include flex(flex, space-between, center);
                        @include font(rem(14), 400);
                        gap: 0 rem(12);

                        p{
                            flex: 1;
                            @include ellipsis(1);
                            max-width: rem(394)
                        }
                        
                        .attach{
                            width: rem(45);
                            background-position: 100% 50%;
                        }

                        .bdate{
                            color: var(--f-menu);
                        }

                        .num{
                            color: var(--f-menu);
                        }
                    }

                    &:not(:last-child){
                        margin-bottom: rem(18);
                    }
                }
            }
        }
    }

    &.-line{
        .tablist{
            @include flex(flex, flex-start, center);
            border-bottom: rem(1) solid var(--line-table2);

            li{
                a{
                    @include font(rem(16), 600);
                    padding: rem(12) rem(32) rem(16);
                    display: block;
                    color: var(--f-menu);
                    position: relative;
                }

                &.on{
                    a{
                        color: var(--f-base);
                        
                        &::after{
                            content:'';
                            width: 100%;
                            height: rem(3);
                            background-color: var(--f-base);
                            @include position(absolute, null, null, rem(-1), 0);
                        }
                    }
                }
            }
        }
    }
}

// 테이블
// 공통 테이블
table:not(.search-box table, .table-jq table, .reservation-box table, .calendar-box table, .calendar-wrap table){
    width: 100%;
    border-collapse: collapse;
    border-top: rem(1) solid var(--line-table);
    border-bottom: rem(1) solid var(--line-table2);

    th{
        @include font(rem(16), 600);
        border-bottom: rem(1) solid var(--line-table3);
        background-color: var(--bg-base);

        .star{
            color: var(--f-primary);
        }
    }
}

.tbl-wrap{
    table{
        th{
            padding: rem(14) rem(24);
            position: relative;

            &::after{
                content:'';
                width: rem(1);
                height: rem(16);
                background-color: var(--line-table2);
                @include position(absolute, 50%, 0, null, null);
                margin-top: rem(-8);
            }

            &:last-child{
                &::after{
                    display: none;
                }
            }
        }

        td{
            @include font(rem(16), 400);
            color: var(--f-secondary);
            padding: rem(14) rem(24);
            text-align: center;

            input[type=text]{
                width:100%;
            }
            select{
                width:100%;
            }
        }
    }
}

.tbl-wrap2{
    table{
        th{
            padding: rem(24);
            vertical-align: middle;
            text-align: left;
            position: relative;
        }

        td{
            @include font(rem(16), 400);
            padding: rem(14) rem(24);
            border-bottom: rem(1) solid var(--line-table3);
            vertical-align: middle;

            input[type=text]{
                width:100%;
            }

            select{
                width:100%;
            }

            input[type=radio]{
                margin: rem(-4) rem(12) 0 0;
                
            }

            label{
                min-width: rem(100);

                &:not(:last-child){
                    margin-right: rem(50);
                }

                em{
                    @include font(rem(13), 400);
                    color: var(--f-secondary);

                    &::before{
                        content:'';
                        width: rem(1);
                        height: rem(12);
                        background-color: var(--line-table2);
                        display: inline-block;
                        margin: 0 rem(5) 0 rem(8);
                    }
                }
            }

            &.profile{
                border-color: var(--line-table2);
                text-align: center;
                
                img{
                    margin-bottom: rem(22);
                }

                >div{
                    @include flex(flex, center, center);
                    gap: rem(12);
                }
            }

            .flex{
                @include flex(flex, space-between, center);
                gap: 0 rem(8);
            }
        }

        tr{
            &:last-child{
                th, td{border-bottom:0;}
            }
        }
    }

    &.-sm{
        table{
            th{
                padding: rem(14) rem(24);
            }
        }
    }
}

// 버튼
.btn-wrap{
    margin-top: rem(24);
    display: flex;
    justify-content: flex-end;

    button:not(:nth-last-of-type(1)){
        margin-right: rem(16);
    }
}

// 주소
.address-wrap{
    p{
        &.addr1{
            @include flex(flex);
            gap: 8px;
            margin-bottom: rem(12);

            input[type=text]{
                width: rem(200);
            }
        }

        &.addr2{
            @include flex(flex);
            gap: 8px;

            input[type=text]{
                &:first-child{
                    width: rem(554);
                }
                &:last-child{
                    width: rem(480);
                }
            }
        }
    }
}

//예약
.reservation-box{
    .r-title{
        display: grid;
        grid-template-columns: 1fr rem(84);
        text-align: center;
        margin-bottom: rem(24);

        p{
            @include flex(flex, center, center);

            button{
                @include fontHidden;
                width: rem(32);
                height: rem(32);
                margin-top: rem(4);

                &.r-prev{
                    @include bg(date_prev, 0 0, rem(32) rem(32));
                }

                &.r-next{
                    @include bg(date_next, 0 0, rem(32) rem(32));
                }
            }

            strong{
                @include font(rem(28), 700);
                margin: 0 rem(24);
            }
        }
        
        button:has(.btn.-line){
            padding: 0 rem(28);
        }
    }


    table{
        width: 100%;
        border-spacing: 0;
        border-top: rem(1) solid var(--f-menu);

        thead{
            th:not(:first-child){
                text-align: center;
            }

            th:last-child{
                border-right: 0;
            }
        }

        th{
            text-align: left;
            @include font(rem(14), 400);
            color: var(--f-secondary);
            padding: rem(10) rem(12);
            border-right: rem(1) solid var(--line-table3);
            border-bottom: rem(1) solid var(--line-table3);

            p{
                @include flex(flex, space-between, center);
            }

            .detail-view{
                @include fontHidden;
                @include bg(detail_view, 0 0, rem(20) rem(20));
                width: rem(20);
                height: rem(20);
            }
        }

        td{
            border-right: rem(1) solid var(--line-table3);
            border-bottom: rem(1) solid var(--line-table3);
            position: relative;

            &:not(:nth-child(2n-1)){
                border-right-color: transparent;
            }

            &:last-child{
                border-right: 0;
            }

            &.no{
                background-color: var(--line-table3);
                border-bottom-color: #fff;
            }
            &.start{
                border-top-left-radius: rem(8);
                border-bottom-left-radius: rem(8);
            }
            &.end{
                border-top-right-radius: rem(8);
                border-bottom-right-radius: rem(8);
            }
            &.on{
                &:not(.end){
                    border-right-color: transparent;
                }

                &:hover{
                    .tooltip{
                        display: block;
                    }
                }
            }

            &.currentTime{
                position: relative;

                &::after{
                    content:'';
                    width: rem(2);
                    height: 102%;
                    border-right: rem(2) solid var(--bg-primary);
                    @include position(absolute, rem(-1), 0, null, null);
                }
            }

            .tooltip{
                display: none;
                @include rounded(rem(12));
                @include position(absolute, null, null, rem(-57), 0, 2);
                @include font(rem(14), 600);
                @include shadow(0 rem(5) rem(10) 0);
                padding: rem(16);
                background-color: var(--f-white);
                border: rem(1) solid #D9D9D9;
                min-width: rem(160);

                &::before{
                    content: "";
                    border-right: rem(1) solid #D9D9D9;
                    border-top: rem(17) solid #D9D9D9;
                    border-left: rem(17) solid transparent;
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: rem(-9);
                    left: 50%;
                    transform: translateX(-50%) rotate(-45deg);
                }

                &::after{
                    content: "";
                    border-right: rem(1) solid #fff;
                    border-top: rem(17) solid #fff;
                    border-left: rem(17) solid transparent;
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: rem(-8);
                    left: 50%;
                    transform: translateX(-50%) rotate(-45deg);
                }
            }

            &:not(.on, .no){
                cursor: pointer;
            }
        }
    }
}

.file-wrap{
    @include flex(flex, flex-start);
    gap: 0 rem(24);

    .table-jq{
        flex: 1;
        width: rem(1036);
        .ui-jqgrid{
            .ui-jqgrid-btable{
                border-bottom: 0.1rem solid var(--line-table2);
                tr.ui-row-ltr:not(:first-child) td{
                    color: var(--f-base);
                }
            }

            &:has(.ui-jqgrid-ftable){
                .ui-jqgrid-btable{
                    border-bottom:0;
                }
            }
        }
    }
}