@font-face {
    font-family: 'Proxima';
    font-style: normal;
    font-weight: 300;
    src: local('Proxima Nova Alt Light'), url('/fonts/Proxima/Proxima Nova Alt Light.ttf') format('ttf');
}
@font-face {
    font-family: 'Proxima';
    font-style: normal;
    font-weight: 400;
    src: local('ProximaNova-Regular'), url('/fonts/Proxima/ProximaNova-Regular.ttf') format('ttf');
}
@font-face {
    font-family: 'Proxima';
    font-style: normal;
    font-weight: 600;
    src: local('Proxima Nova Extrabold'), url('/fonts/Proxima/Proxima Nova Extrabold.ttf') format('ttf');
}
@font-face {
    font-family: 'Proxima';
    font-style: normal;
    font-weight: bold;
    src: local('Proxima Nova Alt Bold'), url('/fonts/Proxima/Proxima Nova Alt Bold.ttf') format('ttf');
}