@charset "UTF-8";
@import "mixin";

.ui-widget-header {
    background: none !important;
    border: none !important;
    color: inherit !important;
    height: 0 !important;
}

.table-jq{
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;

    &:has(.no-data){
        .ui-jqgrid .ui-jqgrid-btable{
            border-bottom: 0;
        }
    }

    .ui-jqgrid{
        box-sizing: border-box;
        overflow-x: hidden;
        width: 100%;

        .ui-jqgrid-htable{
            border-collapse: collapse;
            border-top: rem(1) solid var(--line-table);
            border-bottom: rem(1) solid var(--line-table2);
            background-color: var(--bg-base);
            box-sizing: border-box;

            th{
                @include font(rem(16), 600);
                height: auto;
                position: relative;
                vertical-align: middle;
                padding: rem(6) rem(8);

                .ui-jqgrid-resize{
                    width: rem(2);
                    height: rem(16) !important;
                    background-color: var(--line-table2);
                    @include position(absolute, 50%, 0, null, null, 1);
                    margin:0;
                    margin-top: rem(-8);
                }

                div{
                    height: initial;
                    line-height: 160%;
                }

                &.jqgh_rn{
                    &::after{
                        display: none;
                    }
                }

                &:last-child{
                    .ui-jqgrid-resize{
                        background-color: transparent;
                    }
                }

                &[aria-selected=true]{
                    color: var(--f-primary);
                }
            }
        }

        .ui-jqgrid-btable{
            border-collapse: collapse;
            border-bottom: 0.1rem solid var(--line-table2);
            box-sizing: border-box;

            tr.ui-row-ltr:not(:first-child) td{
                @include font(rem(16), 400);
                color: var(--f-secondary);
                border:0;
                border-bottom: rem(1) solid #D2D6DA;
                padding: rem(8) rem(8);
                text-align: center;
                vertical-align: middle;
                @include ellipsis(1);
            }

            tr{
                &.ui-state-hover{
                    background-color: var(--bg-primary3);
                }
            }

            tr.ui-state-highlight td{
                background-color: var(--bg-primary3);
            }

            tr.ui-row-ltr:last-of-type td{
                border-bottom: 0;
            }

            td{
                select{
                    @include font(rem(13), 600);
                    min-width: auto;
                    width: calc(100% - rem(24));
                    height: rem(32);
                }   
            }
        }

        .ui-jqgrid-ftable{
            table-layout: inherit;
            width:100% !important;
            border-collapse: collapse;
            background-color: var(--bg-primary3);

            td{
                @include font(rem(16), 700);
                border: 0;
                text-align: center;
                padding: rem(14) 0;
                color: var(--f-primary);
            }
        }

        .loading{
            display: block;
            font-size: rem(24);
        }

        .btn-imprt{
            @include bg(add_off);
            @include fontHidden;
            width: rem(24);
            height: rem(24);
        }

        .chk-imprt:checked{
            &+label{
                @include bg(add_on);
            }
        }

        .ui-jqgrid-pager{
            margin-top: rem(24) !important;
            height: auto;

            ul{
                @include flex(flex, center, center);
                gap: 0 rem(4);

                li{
                    button{
                        @include font(rem(14), 400);
                        color: var(--f-menu);
                        width: rem(32);
                        height: rem(32);
                    }

                    &.current{
                        button{
                            @include rounded(100%);
                            background-color: var(--line-table3);
                            font-weight: 600;
                            color: var(--f-base);
                        }
                    }

                    &.first, &.prev, &.next, &.last{
                        button{
                            @include fontHidden;
                            width: rem(20);
                            height: rem(20);

                            &:disabled{
                                opacity: .5;
                            }
                        }
                    }

                    &.first{
                        button{
                            @include bg(first_page);
                        }
                    }
                    &.prev{
                        button{
                            @include bg(prev_page);
                        }
                    }
                    &.next{
                        button{
                            @include bg(next_page);
                        }
                    }
                    &.last{
                        button{
                            @include bg(last_page);
                        }
                    }
                }
            }
        }

        .ui-jqgrid-sortable {
            .s-ico{
                .ui-grid-ico-sort{
                    position: relative;

                    &::after{
                        height: rem(18) !important;
                        margin-left: rem(6);
                    }

                    &.ui-state-disabled{
                        &::after{
                            display: none !important;
                        }
                    }

                    //오름차순
                    &.ui-icon-asc{
                        &::after{
                            @include icon(10, 'asc', 'pseudo');
                        }
                    }

                    //내림차순
                    &.ui-icon-desc{
                        &::after{
                            @include icon(10, 'des', 'pseudo');
                        }
                    }
                }
            }
        }

        .no-data{
            padding: rem(43) 0 rem(40);
            border-bottom: rem(1) solid var(--line-table2);
        }

        .ui-jqgrid-bdiv { 
            overflow-x: auto; 
        }
    }

    .btn-wrap{
        margin-top: rem(16);
    }

    .info{
        @include font(rem(14), 400);
        color: var(--f-menu);
        margin-top: rem(12);
        position: relative;
        padding-left: rem(16);

        &::before{
            content:'';
            width: rem(3);
            height: rem(3);
            background-color: var(--f-menu);
            @include rounded(100%);
            @include position(absolute, rem(8), null, null, rem(4));
        }
    }

    .tree-wrap{
        width: auto;
        border-radius: 0;
        border:0;
        padding:0;

        .ui-icon{
            @include fontHidden;
            @include bg(select24, 95% 50%, rem(24));
            transform: rotate(-180deg);
            transition: transform .2s;
            margin: 0 0 rem(8);

            &.tree-minus{
                transform: rotate(0);
            }

            &.tree-plus{
                transform: rotate(-90deg);
            }
        }
    }
}

.jconfirm{
    background-color: rgba(0,0,0,.6);

    .jconfirm-box.jconfirm-type-info{
        @include rounded(rem(20));
        padding: rem(12) 0 0;
        border-top: 0;
        box-shadow: none;

        div.jconfirm-title-c{
            @include font(rem(18), 700);
            padding: 0 rem(24) rem(8);

            .jconfirm-icon-c{
                display: none;
            }
        }

        div.jconfirm-content-pane{
            margin: 0;
            padding: rem(12) rem(24) rem(24);
        }

        div.jconfirm-content-pane .jconfirm-content{
            font-size: rem(14) !important;
        }
    }

    &.jconfirm-white .jconfirm-box .jconfirm-buttons, &.jconfirm-light .jconfirm-box .jconfirm-buttons{
        @include flex(flex, center, center);
        gap: 0 rem(8);
        border-top: rem(1) solid #DFE3E6;
        padding: rem(8) 0;
        float: none;

        button{
            @include rounded(rem(8));
            font-size: rem(13);
            height: rem(40);
            padding:0;
            line-height: normal;
            min-width: rem(75);
            margin: 0;
            
            &.btn-info{
                background-color: var(--bg-primary) !important;
                color: var(--f-white);
                min-width: rem(75);

                &:hover{
                    background-color: var(--bg-mhover2);
                }
            }

            &.btn-default{
                border: rem(1) solid var(--line-base);
                background-color: var(--f-white) !important;
                min-width: rem(75);
                color: var(--f-base) !important;

                &:hover{
                    background-color: var(--bg-hover);
                }
            }
        }
    }
}
