@charset "UTF-8";
@import "mixin";
@import "font";

/* Reset Asll Element */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, hr,
dl, dt, dd, ol, ul, li,
form, fieldset, legend, label, button, input, select, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
main, menu, nav, footer, header, hgroup, section, summary,
time, mark, audio, video, meter, progress {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: inherit;
    font-family: inherit;
    vertical-align: initial;
    background: transparent;
    box-sizing: border-box;
}

em, address, i {
    font-style: normal;
}

a {
    -webkit-tap-highlight-color: transparent;
    color: var(--f-base);
    text-decoration: none;
}

img {
    vertical-align: top;
}

/* Form */
legend {
    @include hidden;
}

select, textarea, input, label, button {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

select, textarea, input:not([class^=checkbox]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

// input[type=checkbox], input[type=radio]{
//     position: absolute;
// }

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 var(--f-base);
}

select::-ms-expand {
    display: none;
}

input, textarea, select {
    line-height: inherit;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: var(--f-menu);
    letter-spacing: -0.05rem;
}
input::placeholder, textarea::placeholder, select::placeholder {
    color: var(--f-menu);
    letter-spacing: -0.05rem;
}

button {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: inherit;
    letter-spacing: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

caption{
    @include hidden;
}

.mb40{margin-bottom: rem(40);}
.mb32{margin-bottom: rem(32);}
.mb16{margin-bottom: rem(16);}

.align-left{
    text-align: left !important;
}

.bold{
    font-weight: 600 !important;
}

ul,ol,li{
    list-style: none;
}

:focus {
    outline: none;
}

/* Root */
:root {
    font-size: 0.625rem;
    word-break: keep-all;
    word-wrap: break-word;
}

:root{
    --f-base: #000;
    --f-secondary: #606060;
    --f-primary: #19A619; //컬러 - 메인 텍스트
    --f-flase: #EF503A;
    --f-true: #2E55B7; 
    --f-menu: #8C9094;
    --f-white: #fff;

    --bg-base: #F7F8F9;
    --bg-secondary: #7D848E;
    --bg-third: #FAFAFA;
    --bg-primary: #19A619; //컬러 - 메인 배경
    --bg-primary2: #00854A; //컬러 - 메인보다 진한 배경
    --bg-primary3: #E8F6E8; //컬러 - 메인보다 연한 배경
    --bg-false: #FEF0ED;
    --bg-menu: #F2F6FC;
    --bg-hover: #FBFBFB;
    --bg-mhover: #e5f5e5; //컬러 - 호버
    --bg-mhover2: #1EBE1E; //컬러 - 호버

    --line-primary: #C4EBC4; //컬러 - 라인
    --line-base: #B4B8BD;
    --line-secondary: #EAEAEA;
    --line-table: #606060;
    --line-table2: #D2D6DA;
    --line-table3: #ECEFF2;
    --line-false: #FAC3BB;
    --line-true: #B6C3E3;
}

//컬러별 색
//로고 
//사이드메뉴 아이콘
//라디오
.colorPurple{
    --f-primary: #9050FF; //컬러 - 메인 텍스트

    --bg-primary: #9050FF; //컬러 - 메인 배경 
    --bg-primary2: #803BFF; //컬러 - 메인보다 진한 배경
    --bg-primary3: #F6F1FF; //컬러 - 메인보다 연한 배경
    --bg-mhover: #F3EDFF; //컬러 - 호버색
    --bg-mhover2: #9D65FF; //컬러 - 호버색

    --line-primary: #E8DBFF; //컬러 - 라인

    .wrap nav .gnb:not(.laboratory-wrap ul) li img{
        filter: brightness(0) saturate(100%) invert(35%) sepia(33%) saturate(5477%) hue-rotate(244deg) brightness(101%) contrast(101%);
    }

    .tree-wrap .jstree-container-ul .ico-hr-dep1{ //jstree 1depth 아이콘
        @include bg-url(dep1_colorPurple);
    }

    .tree-wrap .jstree-container-ul > .jstree-node > .jstree-ocl{ //jstree 1depth up/down 아이콘
        @include bg-url(dep1_down_colorPurple);
    }
}

.colorOrange{
    --f-primary: #FF6F00; //컬러 - 메인 텍스트

    --bg-primary: #FF6F00; //컬러 - 메인 배경 
    --bg-primary2: #FF8940; //컬러 - 메인보다 진한 배경
    --bg-primary3: #FFF4EB ; //컬러 - 메인보다 연한 배경
    --bg-mhover: #FFF3ED; //컬러 - 호버색
    --bg-mhover2: #FF9123; //컬러 - 호버색

    --line-primary: #FFE8DE; //컬러 - 라인

    .wrap nav .gnb:not(.laboratory-wrap ul) li img{
        filter: brightness(0) saturate(100%) invert(67%) sepia(73%) saturate(5368%) hue-rotate(359deg) brightness(99%) contrast(109%);
    }

    .tree-wrap .jstree-container-ul .ico-hr-dep1{
        @include bg-url(dep1_colorOrange);
    }

    .tree-wrap .jstree-container-ul > .jstree-node > .jstree-ocl{
        @include bg-url(dep1_down_colorOrange);
    }
}

.colorMandarin{
    --f-primary: #FFA100; //컬러 - 메인 텍스트

    --bg-primary: #FFA100; //컬러 - 메인 배경 
    --bg-primary2: #FF8800; //컬러 - 메인보다 진한 배경
    --bg-primary3: #FFF5E5; //컬러 - 메인보다 연한 배경
    --bg-mhover: #FFF8ED; //컬러 - 호버색
    --bg-mhover2: #FFAE23; //컬러 - 호버색

    --line-primary: #FFEEDA; //컬러 - 라인

    .wrap nav .gnb:not(.laboratory-wrap ul) li img{
        filter: brightness(0) saturate(100%) invert(68%) sepia(80%) saturate(2154%) hue-rotate(356deg) brightness(97%) contrast(111%);
    }

    .tree-wrap .jstree-container-ul .ico-hr-dep1{
        @include bg-url(dep1_colorMandarin);
    }
    
    .tree-wrap .jstree-container-ul > .jstree-node > .jstree-ocl{
        @include bg-url(dep1_down_colorMandarin);
    }
}

.colorRed{
    --f-primary: #FF5B6E; //컬러 - 메인 텍스트

    --bg-primary: #FF5B6E; //컬러 - 메인 배경 
    --bg-primary2: #FF4359; //컬러 - 메인보다 진한 배경
    --bg-primary3: #FFEFF1; //컬러 - 메인보다 연한 배경
    --bg-mhover: #FFF4F5; //컬러 - 호버색
    --bg-mhover2: #FF7A89; //컬러 - 호버색

    --line-primary: #FFE6E6; //컬러 - 라인

    .wrap nav .gnb:not(.laboratory-wrap ul) li img{
        filter: brightness(0) saturate(100%) invert(74%) sepia(64%) saturate(5967%) hue-rotate(318deg) brightness(99%) contrast(106%);
    }

    .tree-wrap .jstree-container-ul .ico-hr-dep1{
        @include bg-url(dep1_colorRed);
    }

    .tree-wrap .jstree-container-ul > .jstree-node > .jstree-ocl{
        @include bg-url(dep1_down_colorRed);
    }
}

.colorCyan{
    --f-primary: #16C0AF; //컬러 - 메인 텍스트

    --bg-primary: #16C0AF; //컬러 - 메인 배경 
    --bg-primary2: #0FD3C0; //컬러 - 메인보다 진한 배경
    --bg-primary3: #EBFBFA; //컬러 - 메인보다 연한 배경
    --bg-mhover: #E9FCFA; //컬러 - 호버색
    --bg-mhover2: #23D9C7; //컬러 - 호버색

    --line-primary: #C1F2ED; //컬러 - 라인

    .wrap nav .gnb:not(.laboratory-wrap ul) li img{
        filter: brightness(0) saturate(100%) invert(69%) sepia(53%) saturate(3615%) hue-rotate(128deg) brightness(95%) contrast(83%);
    }

    .tree-wrap .jstree-container-ul .ico-hr-dep1{
        @include bg-url(dep1_colorCyan);
    }
    
    .tree-wrap .jstree-container-ul > .jstree-node > .jstree-ocl{
        @include bg-url(dep1_down_colorCyan);
    }
}

.colorNavy{
    --f-primary: #1610C8; //컬러 - 메인 텍스트

    --bg-primary: #1610C8; //컬러 - 메인 배경 
    --bg-primary2: #554FF8; //컬러 - 메인보다 진한 배경
    --bg-primary3: #F4F3FF ; //컬러 - 메인보다 연한 배경
    --bg-mhover: #F3F3FF; //컬러 - 호버색
    --bg-mhover2: #4F49F4; //컬러 - 호버색

    --line-primary: #D8D8F9; //컬러 - 라인

    .wrap nav .gnb:not(.laboratory-wrap ul) li img{
        filter: brightness(0) saturate(100%) invert(15%) sepia(72%) saturate(4185%) hue-rotate(230deg) brightness(95%) contrast(104%);
    }

    .tree-wrap .jstree-container-ul .ico-hr-dep1{
        @include bg-url(dep1_colorNavy);
    }

    .tree-wrap .jstree-container-ul > .jstree-node > .jstree-ocl{
        @include bg-url(dep1_down_colorNavy);
    }
}

.colorBlue{
    --f-primary: #2788FF; //컬러 - 메인 텍스트

    --bg-primary: #2788FF; //컬러 - 메인 배경 
    --bg-primary2: #005BCB; //컬러 - 메인보다 진한 배경
    --bg-primary3: #EAF3FF; //컬러 - 메인보다 연한 배경
    --bg-mhover: #E3EFFF; //컬러 - 호버색
    --bg-mhover2: #57A0FB; //컬러 - 호버색

    --line-primary: #CEE2FE; //컬러 - 라인

    .wrap nav .gnb:not(.laboratory-wrap ul) li img{
        filter: brightness(0) saturate(100%) invert(48%) sepia(88%) saturate(3323%) hue-rotate(197deg) brightness(100%) contrast(102%);
    }

    .tree-wrap .jstree-container-ul .ico-hr-dep1{
        @include bg-url(dep1_colorBlue);
    }

    .tree-wrap .jstree-container-ul > .jstree-node > .jstree-ocl{
        @include bg-url(dep1_down_colorBlue);
    }
}

.colorskyblue{
    --f-primary: #1DB8EC; //컬러 - 메인 텍스트

    --bg-primary: #1DB8EC; //컬러 - 메인 배경 
    --bg-primary2: #18C5FF; //컬러 - 메인보다 진한 배경
    --bg-primary3: #E5F8FF; //컬러 - 메인보다 연한 배경
    --bg-mhover: #ECFAFF; //컬러 - 호버색
    --bg-mhover2: #47CAF7; //컬러 - 호버색

    --line-primary: #D1F2FE; //컬러 - 라인

    .wrap nav .gnb:not(.laboratory-wrap ul) li img{
        filter: brightness(0) saturate(100%) invert(60%) sepia(46%) saturate(1937%) hue-rotate(157deg) brightness(99%) contrast(87%);
    }

    .tree-wrap .jstree-container-ul .ico-hr-dep1{
        @include bg-url(dep1_colorskyblue);
    }

    .tree-wrap .jstree-container-ul > .jstree-node > .jstree-ocl{
        @include bg-url(dep1_down_colorskyblue);
    }
}